<div class="gentelella-col-md-3 gentelella-left_col">
    <div class="gentelella-left_col gentelella-scroll-view" style="width:250px">
        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="gentelella-main_menu_side gentelella-hidden-print gentelella-main_menu">
            <div class="gentelella-menu_section">
                <a href="/Arena20/BatchServices/Summary" title="Retornar para o Sumário"><h3>BATH SERVICES MENU</h3></a>
                <ul class="gentelella-nav gentelella-side-menu">
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-table"></i> RENEWAL FOR<br /> NEW SEASON <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/Arena20/BatchServices/GenerateRenewal">Generate Renewals</a></li>
                            <li><a href="/Arena20/BatchServicesValidate/RenewalH2H">Renewal H2H</a></li>
                            <li><a href="/Arena20/BatchServicesValidate/RenewalFUT">Renewal FUT</a></li>
                            <li><a href="/Arena20/BatchServicesValidate/RenewalPRO">Renewal PRO CLUB</a></li>
                            <li><a href="/Arena20/BatchServicesValidate/AcceptingNewSeason">Confirmations</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-desktop"></i> GENERATE OF<br />THE NEW SEASON <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/Arena20/BatchServices/GenerateNewSeason">Set Up Initial</a></li>
                            <li><a href="/Arena20/BatchServices/GenerateNewSeason">Generate</a></li>
                            <li>
                                <a><i class="gentelella-fa gentelella-fa-desktop"></i> Validate <br />New Season H2H <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                                <ul class="gentelella-nav gentelella-child_menu">
                                    <li><a href="/Arena20/BatchServices/ChampionshipsGeneratedH2H">Championships Generated</a></li>
                                    <li><a href="/Arena20/BatchServices/GenerateNewSeason">Summary Of Leagues</a></li>
                                    <li><a href="/Arena20/BatchServices/GenerateNewSeason">Summary Of Cups</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><i class="gentelella-fa gentelella-fa-desktop"></i> Validate <br />New Season FUT <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                                <ul class="gentelella-nav gentelella-child_menu">
                                    <li><a href="/Arena20/BatchServices/ChampionshipsGeneratedFUT">Championships Generated</a></li>
                                    <li><a href="/Arena20/BatchServices/GenerateNewSeason">Summary Of Leagues</a></li>
                                    <li><a href="/Arena20/BatchServices/GenerateNewSeason">Summary Of Cups</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><i class="gentelella-fa gentelella-fa-desktop"></i> Validate <br />New Season PRO <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                                <ul class="gentelella-nav gentelella-child_menu">
                                    <li><a href="/Arena20/BatchServices/ChampionshipsGeneratedPRO">Championships Generated</a></li>
                                    <li><a href="/Arena20/BatchServices/GenerateNewSeason">Summary Of Leagues</a></li>
                                    <li><a href="/Arena20/BatchServices/GenerateNewSeason">Summary Of Cups</a></li>
                                </ul>
                            </li>
                            <li><a href="/Arena20/BatchServices/LaunchResult">Draw </a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-sitemap"></i> MAINTENANCE <br />OF SPOOLERS <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/Arena20/BatchServices/RunningSpoolers">Running</a></li>
                            <li><a href="/Arena20/BatchServices/AcceptingNewSeason">Monitoring Spoolers</a></li>
                            <li><a href="/Arena20/BatchServices/AcceptingNewSeason">Monitoring Messages (Email)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

    </div>
</div>
